on:
  push:
    branches: [ main ]
    paths-ignore:
      - README.md
      - LICENSE
  pull_request:
    branches: [ main ]
    paths-ignore:
      - README.md
      - LICENSE

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: Checkout
        uses: actions/checkout@v3

      - name: Download Go dependencies
        env: 
          GOPROXY: "https://proxy.golang.org"
        run: go mod download

      - name: Tests
        run: go test -race -v -coverprofile=coverage.out ./...

      - name: Coverage
        uses: codecov/codecov-action@v3
        continue-on-error: true
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          file: ./coverage.out
          fail_ci_if_error: false
