name: Tests
on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - README.md
      - LICENSE
  push:
    branches:
      - main
    paths-ignore:
      - README.md
      - LICENSE
jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.19

      - name: Checkout
        uses: actions/checkout@v4

      - name: Dependencies
        env: 
          GOPROXY: "https://proxy.golang.org"
        run: go mod download

      - name: Tests
        run: go test -race -v -coverprofile=coverage.out ./...

      - name: Coverage
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.out
          fail_ci_if_error: true
